@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/share-tech-mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VT323";
  src: url("./fonts/vt323.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
